In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import eda_helper_functions

In [2]:
file_path = r"C:\Users\Samar mubark\Desktop\flight_price_prediction\data\train.csv"
t_data = pd.read_csv(file_path)

In [3]:
t_data.head(5)

,airline,date_of_journey,source,destination,dep_time,arrival_time,duration,total_stops,additional_info,price
0,Jet Airways,2019-03-21,Banglore,New Delhi,08:55:00,19:10:00,615,1.0,In-flight meal not included,7832
1,Jet Airways,2019-03-27,Delhi,Cochin,17:30:00,04:25:00,655,1.0,In-flight meal not included,6540
2,Goair,2019-03-09,Banglore,New Delhi,11:40:00,14:35:00,175,0.0,No Info,7305
3,Air India,2019-06-12,Kolkata,Banglore,09:25:00,18:30:00,545,1.0,No Info,8366
4,Jet Airways,2019-03-12,Banglore,New Delhi,22:55:00,07:40:00,525,1.0,In-flight meal not included,11087

In [4]:
t_data.head(5)

,airline,date_of_journey,source,destination,dep_time,arrival_time,duration,total_stops,additional_info,price
0,Jet Airways,2019-03-21,Banglore,New Delhi,08:55:00,19:10:00,615,1.0,In-flight meal not included,7832
1,Jet Airways,2019-03-27,Delhi,Cochin,17:30:00,04:25:00,655,1.0,In-flight meal not included,6540
2,Goair,2019-03-09,Banglore,New Delhi,11:40:00,14:35:00,175,0.0,No Info,7305
3,Air India,2019-06-12,Kolkata,Banglore,09:25:00,18:30:00,545,1.0,No Info,8366
4,Jet Airways,2019-03-12,Banglore,New Delhi,22:55:00,07:40:00,525,1.0,In-flight meal not included,11087

In [5]:
# t_data = t_data.assign(**{
#     col: pd.to_datetime(t_data.loc[:,col],dayfirst = True)
#     for col in ["date_of_journey","dep_time","arrival_time"]
# })

In [6]:
# Convert date_of_journey to datetime format
t_data['date_of_journey'] = pd.to_datetime(t_data['date_of_journey'], dayfirst=True)

# Convert dep_time and arrival_time to datetime format and extract only the time component
t_data['dep_time'] = pd.to_datetime(t_data['dep_time'], format='%H:%M:%S').dt.time
t_data['arrival_time'] = pd.to_datetime(t_data['arrival_time'], format='%H:%M:%S').dt.time

# Display the first few rows to verify the changes
t_data.head()

,airline,date_of_journey,source,destination,dep_time,arrival_time,duration,total_stops,additional_info,price
0,Jet Airways,2019-03-21,Banglore,New Delhi,08:55:00,19:10:00,615,1.0,In-flight meal not included,7832
1,Jet Airways,2019-03-27,Delhi,Cochin,17:30:00,04:25:00,655,1.0,In-flight meal not included,6540
2,Goair,2019-03-09,Banglore,New Delhi,11:40:00,14:35:00,175,0.0,No Info,7305
3,Air India,2019-06-12,Kolkata,Banglore,09:25:00,18:30:00,545,1.0,No Info,8366
4,Jet Airways,2019-03-12,Banglore,New Delhi,22:55:00,07:40:00,525,1.0,In-flight meal not included,11087

In [7]:
t_data.head(5)

,airline,date_of_journey,source,destination,dep_time,arrival_time,duration,total_stops,additional_info,price
0,Jet Airways,2019-03-21,Banglore,New Delhi,08:55:00,19:10:00,615,1.0,In-flight meal not included,7832
1,Jet Airways,2019-03-27,Delhi,Cochin,17:30:00,04:25:00,655,1.0,In-flight meal not included,6540
2,Goair,2019-03-09,Banglore,New Delhi,11:40:00,14:35:00,175,0.0,No Info,7305
3,Air India,2019-06-12,Kolkata,Banglore,09:25:00,18:30:00,545,1.0,No Info,8366
4,Jet Airways,2019-03-12,Banglore,New Delhi,22:55:00,07:40:00,525,1.0,In-flight meal not included,11087

In [8]:
t_data.dtypes

airline                    object
date_of_journey    datetime64[ns]
source                     object
destination                object
dep_time                   object
arrival_time               object
duration                    int64
total_stops               float64
additional_info            object
price                       int64
dtype: object

In [9]:
t_data.head(5)

,airline,date_of_journey,source,destination,dep_time,arrival_time,duration,total_stops,additional_info,price
0,Jet Airways,2019-03-21,Banglore,New Delhi,08:55:00,19:10:00,615,1.0,In-flight meal not included,7832
1,Jet Airways,2019-03-27,Delhi,Cochin,17:30:00,04:25:00,655,1.0,In-flight meal not included,6540
2,Goair,2019-03-09,Banglore,New Delhi,11:40:00,14:35:00,175,0.0,No Info,7305
3,Air India,2019-06-12,Kolkata,Banglore,09:25:00,18:30:00,545,1.0,No Info,8366
4,Jet Airways,2019-03-12,Banglore,New Delhi,22:55:00,07:40:00,525,1.0,In-flight meal not included,11087

In [10]:
t_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6695 entries, 0 to 6694
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   airline          6695 non-null   object
 1   date_of_journey  6695 non-null   datetime64[ns]
 2   source           6695 non-null   object
 3   destination      6695 non-null   object
 4   dep_time         6695 non-null   object
 5   arrival_time     6695 non-null   object
 6   duration         6695 non-null   int64
 7   total_stops      6694 non-null   float64
 8   additional_info  6695 non-null   object
 9   price            6695 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(2), object(6)
memory usage: 523.2+ KB

In [11]:
t_data.head(5)

,airline,date_of_journey,source,destination,dep_time,arrival_time,duration,total_stops,additional_info,price
0,Jet Airways,2019-03-21,Banglore,New Delhi,08:55:00,19:10:00,615,1.0,In-flight meal not included,7832
1,Jet Airways,2019-03-27,Delhi,Cochin,17:30:00,04:25:00,655,1.0,In-flight meal not included,6540
2,Goair,2019-03-09,Banglore,New Delhi,11:40:00,14:35:00,175,0.0,No Info,7305
3,Air India,2019-06-12,Kolkata,Banglore,09:25:00,18:30:00,545,1.0,No Info,8366
4,Jet Airways,2019-03-12,Banglore,New Delhi,22:55:00,07:40:00,525,1.0,In-flight meal not included,11087

In [12]:
t_data.describe(include = "number")

          duration  total_stops         price
count  6695.000000  6694.000000   6695.000000
mean    633.489171     0.801464   9030.965646
std     503.006311     0.659737   4639.522857
min      75.000000     0.000000   1759.000000
25%     170.000000     0.000000   5224.000000
50%     510.000000     1.000000   8283.000000
75%     922.500000     1.000000  12373.000000
max    2860.000000     3.000000  62427.000000

In [13]:
t_data.head(5)

,airline,date_of_journey,source,destination,dep_time,arrival_time,duration,total_stops,additional_info,price
0,Jet Airways,2019-03-21,Banglore,New Delhi,08:55:00,19:10:00,615,1.0,In-flight meal not included,7832
1,Jet Airways,2019-03-27,Delhi,Cochin,17:30:00,04:25:00,655,1.0,In-flight meal not included,6540
2,Goair,2019-03-09,Banglore,New Delhi,11:40:00,14:35:00,175,0.0,No Info,7305
3,Air India,2019-06-12,Kolkata,Banglore,09:25:00,18:30:00,545,1.0,No Info,8366
4,Jet Airways,2019-03-12,Banglore,New Delhi,22:55:00,07:40:00,525,1.0,In-flight meal not included,11087

In [14]:
(
    t_data
    .assign(total_stops=t_data["total_stops"].astype(object))
    .describe(include="O")
    
    
)

,airline,source,destination,dep_time,arrival_time,total_stops,additional_info
count,6695,6695,6695,6695,6695,6694.0,6695
unique,12,5,6,217,220,4.0,7
top,Jet Airways,Delhi,Cochin,18:55:00,19:00:00,1.0,No Info
freq,2386,2730,2730,159,376,3580.0,5249

In [15]:
t_data.head(5)

,airline,date_of_journey,source,destination,dep_time,arrival_time,duration,total_stops,additional_info,price
0,Jet Airways,2019-03-21,Banglore,New Delhi,08:55:00,19:10:00,615,1.0,In-flight meal not included,7832
1,Jet Airways,2019-03-27,Delhi,Cochin,17:30:00,04:25:00,655,1.0,In-flight meal not included,6540
2,Goair,2019-03-09,Banglore,New Delhi,11:40:00,14:35:00,175,0.0,No Info,7305
3,Air India,2019-06-12,Kolkata,Banglore,09:25:00,18:30:00,545,1.0,No Info,8366
4,Jet Airways,2019-03-12,Banglore,New Delhi,22:55:00,07:40:00,525,1.0,In-flight meal not included,11087

In [16]:
from sklearn.ensemble import IsolationForest

In [17]:
forest = IsolationForest(n_estimators = 10)

In [18]:
t_data.head(5)
# Drop rows with missing values
t_data = t_data.dropna()

# Verify that there are no missing values left
print(t_data.isnull().sum())

airline            0
date_of_journey    0
source             0
destination        0
dep_time           0
arrival_time       0
duration           0
total_stops        0
additional_info    0
price              0
dtype: int64

In [20]:
(t_data
 
 .assign(outliers=forest
         .fit_predict(
          t_data
         .select_dtypes(include ="number")
         ))
 
 .drop(columns ="price")
 .query("outliers==-1")
)

,airline,date_of_journey,source,destination,dep_time,arrival_time,duration,total_stops,additional_info,outliers
2,Goair,2019-03-09,Banglore,New Delhi,11:40:00,14:35:00,175,0.0,No Info,-1
7,Spicejet,2019-06-15,Mumbai,Hyderabad,05:45:00,07:15:00,90,0.0,No check-in baggage included,-1
9,Jet Airways,2019-05-09,Delhi,Cochin,23:05:00,04:25:00,1760,2.0,No Info,-1
11,Jet Airways,2019-05-06,Banglore,Delhi,15:15:00,18:10:00,175,0.0,No Info,-1
14,Jet Airways,2019-06-06,Kolkata,Banglore,18:55:00,22:35:00,1660,1.0,In-flight meal not included,-1
...,...,...,...,...,...,...,...,...,...,...
6679,Jet Airways,2019-03-06,Delhi,Cochin,02:15:00,04:25:00,1570,1.0,No Info,-1
6683,Jet Airways,2019-05-01,Kolkata,Banglore,09:35:00,14:25:00,1730,1.0,No Info,-1
6687,Air India,2019-06-06,Kolkata,Banglore,05:50:00,08:55:00,1625,2.0,No Info,-1
6689,Indigo,2019-03-03,Mumbai,Hyderabad,09:10:00,10:40:00,90,0.0,No Info,-1
6690,Jet Airways,2019-03-21,Delhi,Cochin,10:45:00,18:50:00,1925,2.0,No Info,-1

In [21]:
numeric_cols = t_data.select_dtypes(include='number').columns

# Apply IsolationForest
forest = IsolationForest(n_estimators=10)
t_data['outliers'] = forest.fit_predict(t_data[numeric_cols])

# Display the first few rows to verify the changes
t_data.head()

,airline,date_of_journey,source,destination,dep_time,arrival_time,duration,total_stops,additional_info,price,outliers
0,Jet Airways,2019-03-21,Banglore,New Delhi,08:55:00,19:10:00,615,1.0,In-flight meal not included,7832,1
1,Jet Airways,2019-03-27,Delhi,Cochin,17:30:00,04:25:00,655,1.0,In-flight meal not included,6540,1
2,Goair,2019-03-09,Banglore,New Delhi,11:40:00,14:35:00,175,0.0,No Info,7305,1
3,Air India,2019-06-12,Kolkata,Banglore,09:25:00,18:30:00,545,1.0,No Info,8366,1
4,Jet Airways,2019-03-12,Banglore,New Delhi,22:55:00,07:40:00,525,1.0,In-flight meal not included,11087,1

In [34]:
t_data.head(5)

,airline,date_of_journey,source,destination,dep_time,arrival_time,duration,total_stops,additional_info,price
0,Jet Airways,2019-03-21,Banglore,New Delhi,08:55:00,19:10:00,615,1.0,In-flight meal not included,7832
1,Jet Airways,2019-03-27,Delhi,Cochin,17:30:00,04:25:00,655,1.0,In-flight meal not included,6540
2,Goair,2019-03-09,Banglore,New Delhi,11:40:00,14:35:00,175,0.0,No Info,7305
3,Air India,2019-06-12,Kolkata,Banglore,09:25:00,18:30:00,545,1.0,No Info,8366
4,Jet Airways,2019-03-12,Banglore,New Delhi,22:55:00,07:40:00,525,1.0,In-flight meal not included,11087

In [22]:
t_data.describe(include = "number")

          duration  total_stops         price     outliers
count  6694.000000  6694.000000   6694.000000  6694.000000
mean    633.371676     0.801464   9031.197341     0.422767
std     502.951999     0.659737   4639.830703     0.906306
min      75.000000     0.000000   1759.000000    -1.000000
25%     170.000000     0.000000   5224.000000    -1.000000
50%     510.000000     1.000000   8283.000000     1.000000
75%     920.000000     1.000000  12373.000000     1.000000
max    2860.000000     3.000000  62427.000000     1.000000